---
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>  

	<header>
		<h1 class="brand">TRDWST</h1>
	</header>
	
	<div class="hide">
	{% include members.html %}
	</div>
	
	<div class="swiper-container">
		<div class="swiper-wrapper">

			{% for member in site.data.tasteclub.members %}
			<div class="swiper-slide member">
				
				<!-- Avatar -->
				<div class="member--avatar--wrapper" >
        	<img src="assets/img/avi{{member.id}}.jpg" alt="{{member.name}}" class="member--avatar">    
      	</div>

      	<!-- INFO -->
      	<h2 class="member--name">{{member.name}}</h2>
      	<p class="member--blurb">{{member.blurb}}</p>

      	<!-- SOCIAL -->
      	<div class="member--social-wrapper">
      	  <a href="mailto:{{site.data.members.member-email}}"   target="_blank" class="social--link"><i class="fa fa-envelope"></i></a>
      	  <a href="http://twitter.com/{{member.twitter}}"       target="_blank" class="social--link"><i class="fa fa-twitter"></i></a>
      	  <a href="http://instagram.com/{{member.instagram}}"   target="_blank" class="social--link"><i class="fa fa-instagram"></i></a>
      	  <a href="http://soundcloud.com/{{member.soundcloud}}" target="_blank" class="social--link"><i class="fa fa-soundcloud"></i></a>
      	</div>

			</div>			
			{% endfor %}
			
		</div>

		<div class="swiper-pagination"></div>
	</div>


	<footer>
		<!-- <h2>Tasteclub Labs</h2> -->
		<!-- {% include icon-logo-simple.svg %} -->
	</footer>

	<div class="bp-test"></div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- <script type="text/javascript" src="bower_components/jquery-touchswipe/jquery.touchSwipe.min.js"></script> -->
<!-- <script type="text/javascript" src="assets/js/fbs.js"></script> -->
<script type="text/javascript" src="bower_components/Swiper/dist/js/swiper.js"></script>
<!-- <script type="text/javascript" src="bower_components/swiper/dist/js/swiper.jquery.js"></script> -->

<script>

var mySwiper = new Swiper ('.swiper-container', {
    // Optional parameters
    // direction: 'vertical',
    loop: true,
    
    // If we need pagination
    pagination: '.swiper-pagination',
    
    // Navigation arrows
    // nextButton: '.swiper-button-next',
    // prevButton: '.swiper-button-prev',
    
    // And if we need scrollbar
    // scrollbar: '.swiper-scrollbar',
  })  

</script>

</body>
</html>
