---
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>  

	<header>
		<h1 class="brand">TRDWST</h1>
	</header>

	{% include members.html %}	

	<footer>
		<h2>Tasteclub Labs</h2>
		{% include icon-logo-simple.svg %}
	</footer>

	<div class="bp-test"></div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="bower_components/jquery-touchswipe/jquery.touchSwipe.min.js"></script>
<script>

$(document).ready(function() {
  
  // Manually Set State
  var members = $('.member');
  // members.first().addClass('prev');
  // members.last().addClass('next');
  // members.eq(1).addClass('active');

  $('.nav').on('click.next', function(e){
    
  })


});


$(function() {      
  
  //Enable swiping...
  $("#members").swipe( {
    
    // test swipe
    // console.log('swipe!');
    
    //Generic swipe handler for all directions
    swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
      $('footer').text("You swiped " + direction );  
    },
    
    //Default is 75px, set to 0 for demo so any distance triggers swipe
     threshold:0

  });
});

</script>
</body>
</html>
