////////////////////////////////////////
// UI Gradients
////////////////////////////////////////

// Pizelex
$pizelex1: #F29492;
$pizelex2: #114357;
// Horizon
$horizon1: #E5E5BE;
$horizon2: #003973;
// Shroom Haze
$haze1: #4389A2;
$haze2: #5C258D;
// Aqua Marine
$aqua1: #1A2980;
$aqua2: #26D0CE;
// Miami
$miami1: #4DA0B0;
$miami2: #D39D38;
        
 

// Breakpoints
$XS:    370px;
$S:     480px;   
$M:     768px;     
$L:     1050px;

$XS:    23.125em; // 370px;
$S:     30em; 		// 480px;   
$M:     48em; 		// 768px;     
$L:     65.625em; // 1050px;


// trdwest theme
%trdwest--gradient {
	@include background(linear-gradient(to top, $aqua1, $aqua2) center);
	&__inverse {
		@include background(linear-gradient(to top, $aqua1, $aqua2) center);
	}
}