/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html {
	font-size: 16px;
}


// typography'
body {
	font-family: "letter-gothic-std", monospace;	
	// font-family: 'Inconsolata', monospace;
	color: white;
	font-size: 100%;
	
	// flex stuff
	@include size(auto 100vh);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	// theme color
	// @include background(linear-gradient($miami1, $miami2) bottom);
	@extend %trdwest--gradient;

}



a {
	text-decoration: none;
	color: inherit;
}




h2 {
	text-transform: uppercase;
	display: block;
	line-height: 1;
	margin: 0;
	font-size: .6rem;
	letter-spacing: 3px;
}


