
%border--style {
	border: 2px solid white;
}


// Header
header {
	// @include center(x);
	// @include position(fixed, 0 null null);
	// @include position(fixed, 0 0 null);
	z-index: 2;
	position: relative;
	
	h1 {
		@include center(x);
		color: white;
		line-height: 1;
		border: 3px solid white;
		padding: 0.3em 1em;
		font-size: 1em;
		margin-top: 1em;
	}
}

.brand,
h1.fun {
	position: absolute;
	@include center(x);
	color: white;
	line-height: 1;
	@extend %border--style;
	padding: 0.3em 1em;
	font-size: 1em;
	margin-top: 1em;
	@include transition(all, 0.3s linear);
	// color: purple;

	&:hover {
		background-color: white;
		color: $pizelex1;

	}


}


%border--style {
	border: 2px solid white;
}







// Footer
footer {
	@include position(fixed, null 0 0);
	padding: 2rem 0;
	text-align: center;
	width: 100%;
	// display: none;
}

