
%border--style {
	border: 2px solid white;
}


// Header
header {
	// @include center(x);
	// @include position(fixed, 0 null null);
	// @include position(fixed, 0 0 null);
	margin: 1rem 0 0;
	z-index: 2;
	position: relative;
	text-align: center;
		
}

.brand,
h1.fun {
	// position: absolute;
	// @include center(x);
	display: inline-block;
	
	padding: 0.4em 1em;
	margin: 1em null;
	@extend %border--style;
	

	color: white;
	line-height: 1;
	font-size: 1em;
	font-weight: 400;
	
	@include transition(all, 0.3s linear);
	// color: purple;

	&:hover {
		background-color: white;
		color: $pizelex1;
	}
}


%border--style {
	border: 2px solid white;
}







// Footer
footer {
	
	padding: 1rem 0 2rem;
	width: 100%;	
	text-align: center;
	// now with flexbox
	display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

svg.logo {
	@include size(2rem auto);
	// margin: 0.5rem auto;
	margin-left: 1rem;
	fill: white;
}