// Pizelex
$pizelex1: #F29492;
$pizelex2: #114357;
// Horizon
$horizon1: #E5E5BE;
$horizon2: #003973;
// Shroom Haze
$haze1: #4389A2;
$haze2: #5C258D;

.member {
	min-height: 100vh;
	@include size(100% auto);
	@include position(absolute, 0);
	
	// to work for now
	display: block;
	@include position(relative, inherit);
	margin-bottom: 1rem;
	&:last-child { margin: 0; }

	
	text-align: center;

	background: #114357; /* fallback for old browsers */
	@include background(linear-gradient(#F29492, #114357) bottom);
	@include transition;
	@include transform(translateX(0));

	&.member-1 {
		@include background(linear-gradient($pizelex1, $pizelex2) bottom);
	}
	&.member-2 {
		@include background(linear-gradient($horizon1, $horizon2) bottom);
	}
	&.member-3 {
		@include background(linear-gradient($haze1, $haze2) bottom);
	}

	@include MQ(M) {
		min-height: 0;
		height: 400px;
		margin-bottom: 1rem;
		&:last-child { margin: 0; }
	}

	@include MQ(L){
		@include size(32% 600px);
		max-height: 600px;
		min-height: 0;
		margin-right: 2%;
		&:last-child {
			outline: 2px;
			margin-right: 0;
		}
		position: relative;
		display: block;
		float: left;

	}

	&.active {
		@include transform(translateX(0%));
	}

	&.next {
		@include transform(translateX(100%));
	}

	&.prev {
		@include transform(translateX(-100%));
	}

}




.member--avatar {
	@include size(100px);
	border-radius: 50%;
	border: 2px solid white;
	display: block;
	margin: 4em auto;
	margin: 9.375rem auto 2.8125rem;
	margin: 0 auto 2.8125rem;
}





.member--wrapper {
	position: absolute;
	width: 100%;
	@include center(y);
}


.member--name {
	font-size: 2.625rem;
	font-weight: 700;
	font-style: bold;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 0.5em;
}

.member--blurb {
	font-size: 1rem;
	font-weight: normal;
	font-weight: 400;
	margin: 0.5rem 1rem;
}

.member--social {
	display: block;
}

.social--link {
	display: inline-block;
	font-size: 1.5rem;
	color: white;
	padding: 1em 0.5em;
}