---
---
////////////////////////////////////////
// 0 - Tools
////////////////////////////////////////

// Normalize
@import "0-normalize";
// Bourbon
@import "bourbon/bourbon";



////////////////////////////////////////
// 1 - Config && 
// 2 - Base
////////////////////////////////////////

// VARS & BITS
@import '1-bits';
// Mixins
@import "2-mixins";
// Base & Typography
@import "2-base";

%border--style {
	border: 2px solid white;
}



////////////////////////////////////////
// 3 - Modules
////////////////////////////////////////

// Members
@import "3-mod-members";

// Header & Footers
@import '3-mod-footer';


.bp-test {
	@include position(fixed, null 0 0);
	display: block;
	height: 5px;
	background-color: $haze1;
	@include MQ(XS) { background-color: $haze2;}
	@include MQ(S)  { background-color: $haze1;}
	@include MQ(M)  { background-color: $haze2;}
	@include MQ(L)  { background-color: $haze1;}
	display: none;
}


.hide { display: none; }


// Swiper

.swiper-pagination-bullet {
	background: white;
	opacity: 0.4;

	&-active {
		opacity: 1;
	}
}


.swiper-container {
	// width: 600px;
	height: auto;
	width: 100%;
}


.swiper-wrapper {
	margin-bottom: 1.5rem;
}
